@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: rgba(49, 2, 2, 0.788);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 0;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.1s * var(--i));

}

.navbar a:hover,
.navbar a.active {
   color: rgb(14, 231, 213);
   font-weight: 100;
  
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3 span{
    color: rgb(9, 247, 247);

}

.home-content h1{
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
}
.home-content p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}
.home-img img{
   max-width: 350px;
   border-radius: 80%;
   margin-right: -30px;
   margin-top: -30%;
   opacity: 0;
   animation: zoomIn 1s ease forwards, floatImage 4s 
   ease-in-out infinite;
   animation-delay: .7s, 2s;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid rgb(1, 230, 247);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(10, 248, 22);
    text-decoration: none;
    margin: 30px 15px 0;
    transition: 0.5s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.1s * var(--i))
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(4, 222, 230);
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 16px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
   
}

/*KEYFRAMES ANIMATION*/
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: .8;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}